#navbarSupportedContent{
  margin: 0px 5px;
}





button{
  opacity: 0.75;
  position: relative;
  top: -50px;
}

#news{
  display: flex;
  width:75%;
  height: 157px; 
  margin: 5px auto; 
  justify-content: space-between
}

#last-menu{
  padding-top: 50px;
}

